<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="renderer" content="webkit">
    <link href="./static/images/common/ico.png" rel="icon" type="image/x-icon">
    <link href="./static/style/common.css" rel="stylesheet">
    <link href="./static/style/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="stylesheet" href="./static/style/font-awesome/css/font-awesome-ie7.css">
    <![endif]--> 
    <title>{{index . "title"}}</title>
    <link href="./static/style/wap/app_explorer.css" rel="stylesheet">
    <script type="text/javascript" src="./static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="./static/js/lib/clipboard.min.js"></script>
    <script type="text/javascript" src="./static/js/app/wapipfsdisk.js"></script>    
    <style type="text/css">
        #confirm,#cancel {
            color: #2196F3;
            margin-left: 1.2rem;
        }
        #confirm:hover,#cancel:hover {
            color: #fff;
        }
    </style>
</head>
<body class="wap-page support-space-not">
    <div id="upload-display" class="hide">
        <input type="file" id="fileToUpload" onchange="startUpload();" class="hide"/>
        <div class="mobile-dialog" role="document" style="width: 90%;position:fixed;z-index: 304;padding: 20px">
            <div class="modal-content" >
                <div class="upload-info" style="color: white"><p></p></div>
                <div class="modal-body">
                    <div class="progress" style="z-index: 1">
                            <div id="upload_progress" class="progress-bar progress-bar-info progress-bar-striped active" >
                                    <div class="progress-value">0%</div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="upload_cancel" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div> 
    <div style="width: 411px; height: 1701px; position: fixed; z-index: 303; top: 0px; left: 0px; "><div style="height: 100%; background: rgb(0, 0, 0); opacity: 0.1;"></div></div>
    </div>
    <div class="frame-main">
        <div class="address" style="display:flex">
                    <ul id="yarnball" style="width:90%"></ul>
                    <span id="logout_btn" style="width:10%;margin: 0.3em 0.5em">Logout</span>
            </div>
        <div class="bodymain">			
            <div class="file-list-list"></div>
        </div>
        <a id="downl" class="disable" ><span >&nbsp</span></a>
    </div>
    <div class="toolbar-menu">
            <button class="menu-plus tool" id="openmenu" data-toggle="dropdown"></button>
            <ul class="dropdown-menu tool-menu-right pull-right animated menuShow" role="menu">
                <li data-action="upload"><a draggable="false"><i class="font-icon icon-cloud-upload"></i>Upload</a></li>
                <li data-action="newfolder"><a draggable="false"><i class="font-icon icon-folder-close-alt"></i>NewFolder</a></li>
                <li data-action="paste" id="btn-paste" class="hide"><a draggable="false"><i class="font-icon icon-paste"></i>Paste</a></li>
            </ul>
    </div>
</body>
</html>